div.main {
    margin: 50px 20%;
}

div.parent {
    text-align: center;
}

div.child {
    text-align: left;
    display: inline-block;
}

div.add-address-button {
    width: 280px;
    height: 150px;
    border: 2px dashed lightgrey;
    border-radius: 20px;
    color: lightgrey;
    font-size: 16px;
    margin: 20px 30px 20px 0px;
    padding: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

div.add-address-button:hover {
    color: white;
    border: 2px dashed white;
}

div.address-block {
    width: 280px;
    height: 150px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    margin: 20px 30px 20px 0px;
    padding: 20px;
    display: inline-block;
}

div.address-block button {
    width: 70px;
    height: 30px;
    margin: 5px;
    position: relative;
    top: 35px;
}

h1, h2 {
    margin: 50px 0px;
}

button {
    background-color: #51abff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #6fb6f7;
}

button.regular {
    width: 130px;
    height: 40px;
}

table {
    margin: 50px 0px;
    color: white;
    font-size: 16px;
}

td {
    padding: 5px;
}

input {
    height: 35px;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    outline-width: 0;
    padding: 5px;
}

input.long {
    width: 450px;
}

input.short {
    width: 145px;
}

select {
    width: 130px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid white;
    outline-width: 0;
}

.action-result-message {
    color: #00c800;
}

.error-message {
    color: red;
}
